{% extends 'base.html' %}

{% block title %}Translate Speech to Text{% endblock %}

{% block content %}
     {% if error %}
        <div class="alert alert-danger" role="alert"> <!-- Tutaj pojawi się to, co w views.py dasz jako wartość error. Więc jak w logic edasz np. if not coś tam, to error = "Tekst erroru wyświetlony użytknownikowi" -->
            {{ error }}
        </div>
    {% endif %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2>Translate speech to text</h2>
            <form id="sound-form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uploaded-file" class="form-label">Choose your audio file:</label>
                    <input type="file" id="uploaded-file" name="uploaded-file"  class="form-control" required accept="audio/*">
                </div>
                <div class="mb-3">
                    <label for="language-source" class="form-label">Select source audio file language:</label>
                    <select id="language-source" name="language-source" class="form-control">
                        <option selected value="auto">Detect</option>
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == selected_language_before %}selected{% endif %}>
                                {{ language.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="language-target" class="form-label">Select target text language:</label>
                    <select id="language-target" name="language-target" class="form-control">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == selected_language_after %}selected{% endif %}>
                                {{ language.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-custom">Translate</button>
            </form>

            <h2 class="mt-4">Translated text:</h2>
            <div id="translated-text"  class="alert alert-secondary">{{translated_text}}</div>
        </div>
    </div>
</div>
{% endblock %}
