{% extends 'base.html' %}

{% block title %}Translate Sound{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2>Translate sound to text</h2>
            <form id="sound-form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="sound-file" class="form-label">Choose your audio file:</label>
                    <input type="file" id="sound-file" name="sound_file" accept="audio/*" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="language-select-source" class="form-label">Select source audio file language:</label>
                    <select id="language-sound" name="language_sound" class="form-control">
                        {% for code, name in languages.items %}
                            <option value="{{ code }}" {% if code == selected_language_before %}selected{% endif %}>
                                {{ name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="language-select-target" class="form-label">Select target text language:</label>
                    <select id="language-sound" name="language_sound" class="form-control">
                        {% for code, name in languages.items %}
                            <option value="{{ code }}" {% if code == selected_language_before %}selected{% endif %}>
                                {{ name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-custom">Translate</button>
            </form>

            <h2 class="mt-4">Translated text:</h2>
            <div id="translated-text" class="alert alert-secondary"></div>
        </div>
    </div>
</div>
{% endblock %}
