{% extends 'base.html' %}

{% block title %}Translate Text{% endblock %}

{% block content %}
     {% if error %}
        <div class="alert alert-danger" role="alert"> <!-- Tutaj pojawi się to, co w views.py dasz jako wartość error. Więc jak w logic edasz np. if not coś tam, to error = "Tekst erroru wyświetlony użytknownikowi" -->
            {{ error }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h2>Translate text</h2>
            <form id="text-form" method="post" action="{% url 'text_to_text_view' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="input_text" class="form-label">Enter text:</label>
                    <textarea id="input_text" name="input-text" class="form-control" rows="3" required>{{ input_text }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="language-source" class="form-label">Choose source text language:</label>
                    <select id="language-source" name="language-source" class="form-control">
                        <option value="auto">Detect</option>
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == selected_language_before %}selected{% endif %}>
                                {{ language.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="language-target" class="form-label">Choose target text language:</label>
                    <select id="language-target" name="language-target" class="form-control">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == selected_language_after %}selected{% endif %}>
                                {{ language.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-custom">Translate</button>
            </form>

            {% if translated_text %}
                <h2 class="mt-4">Translated text:</h2>
                <div id="translated-text" class="alert alert-secondary">
                    {{ translated_text }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}