{% extends 'base.html' %}

{% block title %}Translate Speech to Speech{% endblock %}

{% block content %}
     {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }} <!-- Tutaj pojawi się to, co w views.py dasz jako wartość error. Więc jak w logic edasz np. if not coś tam, to error = "Tekst erroru wyświetlony użytknownikowi" -->
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h2>Translate speech to speech</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uploaded-file" class="form-label">Choose your audio file:</label>
                    <input type="file" id="uploaded-file" name="uploaded-file"  class="form-control" required accept="audio/*">
                </div>
                {% if selected_language_before %}
                <div class="mb-3">
                    <label for="language-source" class="form-label">Detected source audio file language:</label>
                    <select id="language-source" name="language-source" class="form-control">
                        <option selected value="auto">Detect</option>
                        {% for language in languages %}
                        {% if language.code == selected_language_before %}

                        <option value="{{ language.code }}" selected>
                            {{ language.name }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="language-target" class="form-label">Select target audio language:</label>
                    <select id="language-target" name="language-target" class="form-control">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.Code == selected_language_after %}selected{% endif %}>
                                {{ language.Language }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-custom">Translate</button>
            </form>

        </div>
    </div>
        {% if audio %}
    <h2 class="mt-4">Translated Speech (Stream):</h2>
    <audio id="audioPlayer" controls>
        <source src="data:audio/wav;base64,{{ audio }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>

        {% endif %}
{% endblock %}