{% extends 'base.html' %}

{% block title %}Translate Sound to Sound{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2>Translate sound to sound</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="audio-file" class="form-label">Choose your audio file:</label>
                    <input type="file" id="audio-file" name="audio_file" class="form-control" accept="audio/*" required>
                </div>
                <div class="mb-3">
                    <label for="language-sound" class="form-label">Select source audio file language:</label>
                    <select id="language-sound" name="language_sound" class="form-control">
                        {% for code, name in languages.items %}
                            <option value="{{ code }}" {% if code == selected_language_before %}selected{% endif %}>
                                {{ name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="language" class="form-label">Select target audio file language:</label>
                    <select id="language-sound" name="language_sound" class="form-control">
                        {% for code, name in languages.items %}
                            <option value="{{ code }}" {% if code == selected_language_before %}selected{% endif %}>
                                {{ name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-custom">Translate</button>
            </form>
            <div class="mt-4">
                <label for="output-folder" class="form-label">Choose a folder to save your file to:</label>
                <input type="folder" id="output-folder" name="output_folder" class="form-control" placeholder="Enter the pathway to your folder" required>
            </div>
        </div>
    </div>
{% endblock %}