{% extends 'base.html' %}

{% block title %}Translate Speech to Speech{% endblock %}

{% block content %}
     {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }} <!-- Tutaj pojawi się to, co w views.py dasz jako wartość error. Więc jak w logic edasz np. if not coś tam, to error = "Tekst erroru wyświetlony użytknownikowi" -->
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h2>Translate speech to speech</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="audio-file" class="form-label">Choose your audio file:</label>
                    <input type="file" id="uploaded-file" name="uploaded-file"  class="form-control" required accept="audio/*">
                </div>
                <div class="mb-3">
                    <label for="language-source" class="form-label">Select source audio file language:</label>
                    <select id="language-source" name="language-source" class="form-control">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == selected_language_before %}selected{% endif %}>
                                {{ language.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="language-target" class="form-label">Select target audio language:</label>
                    <select id="language-target" name="language-target" class="form-control">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == selected_language_after %}selected{% endif %}>
                                {{ language.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-custom">Translate</button>
            </form>
            <div class="mt-4">
                <label for="output-folder" class="form-label">Choose a folder to save your file to:</label>
                <input type="folder" id="output-folder" name="output-folder" class="form-control" placeholder="Enter the pathway to your folder" required>
            </div>
        </div>
    </div>
{% endblock %}