{% extends 'base.html' %}

{% block title %}Home - Translator{% endblock %}

{% block header %}Welcome to the Translator App{% endblock %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'text_to_text_view' %}" class="btn btn-lg btn-custom mx-2">Translate Text</a>
        <a href="{% url 'speech_to_text_view' %}" class="btn btn-lg btn-custom mx-2">Translate Sound File to Text</a>
    <a href="{% url 'speech_to_speech_view' %}" class="btn btn-lg btn-custom mx-2">Translate Sound File to Sound</a>
    </div>
{% endblock %}
